<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mediakirjasto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mediakirjasto">
        <activity android:name=".UpdateMusicActivity"></activity>
        <activity android:name=".UpdateMovieActivity" />
        <activity android:name=".UpdateBookActivity" />
        <activity android:name=".AddMusicActivity" />
        <activity android:name=".AddMovieActivity" />
        <activity android:name=".AddBookActivity" />
        <activity
            android:name=".UpdateGameActivity"
            android:label="Update Game"
            android:parentActivityName=".ActivityGames" />
        <activity
            android:name=".AddGameActivity"
            android:label="Add Game"
            android:parentActivityName=".ActivityGames" />
        <activity
            android:name=".ActivityMusic"
            android:label="Music"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityMovies"
            android:label="Movies"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityBooks"
            android:label="Books"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityGames"
            android:label="Games"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>